#blazor-error-ui[b-aah1pilri7] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-aah1pilri7] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.nav-tab[b-aah1pilri7] {
    background-color: #CC5500; /* Burnt Orange */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.nav-tab:hover[b-aah1pilri7] {
    background-color: #FF7043; /* Lighter Burnt Orange */
}