@inherits LayoutComponentBase

@implements IDisposable

@inject NavigationManager NavigationManager
<header>
<div class="top-bar" onclick="document.querySelector('.navbar-toggler').click()">
    
        <div class="nav-tab">
            <NavLink href="/" Match="NavLinkMatch.All">
               Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-tab">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-tab">
                    <NavLink class="nav-link" href="recipe">
                        <span class="bi bi-person-lines-fill-nav-menu" aria-hidden="true"></span> receipe
                    </NavLink>
                </div>
                <div class="nav-tab">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                        <button type="submit" class="nav-link">
                            Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

</div>
</header>


  <div class="content">
    @Body
  </div>

  <footer>
    &copy; Cookbook Corner @DateTime.UtcNow.Year 
    <br />
    Site Managed by the Infanite Loopers
  </footer>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}